.react-datepicker-wrapper{
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
}
.date_input{
    width: 100%;
    
    outline: none;
    padding: 10px;
    margin: unset;
    margin: 0 auto;
}
.input{
    width: 100%;
}
.react-datepicker__month-container {
    float: unset;
    position: relative;
}


.react-datepicker__header{
 background-color: green;
 color: red;
}

.react-datepicker__day-name{
    color: ghostwhite;
}
/* .react-datepicker__day{
    color: goldenrod; 
} */
.react-datepicker__day--selected{
    background-color: aqua;
    color: white;
}